/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.section-header {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
@media (min-width: 992px) {
  .section-header {
    padding-top: 118px;
  }
}
@media (min-width: 992px) {
  .pb-80 {
    padding-bottom: 80px;
  }
}
.section-header__title {
  font-family: Ralyway;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 30px;
  color: #333740;
}
@media (min-width: 992px) {
  .section-header__title {
    font-size: 30px;
  }
}
.section-header__title--white {
  font-family: Ralyway;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 30px;
  color: #e5e5e5;
}
@media (min-width: 992px) {
  .section-header__title--white {
    font-size: 30px;
  }
}
.section-header__title--special {
  font-size: 25px;
  font-family: Ralyway;
  font-weight: 800;
  padding-right: 20px;
}
@media (min-width: 992px) {
  .section-header__title--special {
    font-size: 30px;
  }
}
.pr-0 {
  padding-right: 0px;
}
.section-header__title--special:after {
  content: "";
  position: relative;
  width: 1px;
  height: 5px;
  top: 0px;
  bottom: -5px;
  border-right: 1px solid #18a3dd;
  left: 11px;
}
.section-header__title--special--none:after {
  display: none;
}
.section-header__subtitle {
  font-family: Lato;
  font-weight: 300;
  color: #83888f;
}
@media (min-width: 992px) {
  .section-header__subtitle {
    font-size: 16px;
  }
}
html,
body {
  height: 100%;
  min-width: 320px;
  background-color: #fafcfc;
}
body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
.block {
  background: orange;
  padding: 20px;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens - adaptive styles bofore 1200px */
/* Medium Devices, Desktops - adaptive styles bofore 992px */
/* Small Devices, Tablets - adaptive styles bofore 768px */
/* Extra Small Devices, Phones - adaptive styles bofore 480px */
/* Custom, iPhone Retina - adaptive styles bofore 320px */
.logo {
  padding-left: 80px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: url(../img/navigation/logo.png);
  background-repeat: no-repeat;
  width: 68px;
  height: 68px;
}
.logo a {
  color: #656973;
  font-family: 'HelveticaNeueCyr';
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
.navigation {
  background-color: #fafcfc;
  color: #656973;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px #ebebeb solid;
  z-index: 2;
}
@media (min-width: 992px) {
  .navigation {
    background-color: #fafcfc;
    padding-top: 23px;
    padding-bottom: 23px;
  }
}
@media (min-width: 992px) {
  .navigation {
    background-color: #fafcfc;
    padding-top: 23px;
    padding-bottom: 23px;
  }
}
.navigation a {
  color: #656973;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'HelveticaNeueCyr';
  font-size: 15px;
  font-weight: bold;
}
.navigation a:hover,
.navigation a.active {
  color: orange;
}
.navigation a:hover,
.navigation a.active {
  color: orange;
}
.navigation ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
  background-color: #fafcfc;
}
.navigation li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #466a92;
}
.navigation li.active {
  color: orange;
}
.navigation-toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fa {
  padding-right: 20px;
}
.navigation__toggle-button {
  display: block;
  position: relative;
  cursor: pointer;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 15px;
  padding-right: 15px;
}
.navigation__toggle-button:focus,
.navigation__toggle-button:active {
  background-color: #fafcfc;
}
.container--mobile--no-padding {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
@media (min-width: 992px) {
  .container--mobile--no-padding {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.main {
  padding-top: 180px;
  padding-bottom: 50px;
}
@media (min-width: 1170px) {
  .main {
    padding-top: 586px;
    padding-bottom: 290px;
  }
}
.inner {
  height: 100px;
  border-radius: 2px;
  padding-left: 35px;
  position: relative;
}
.inner:before {
  content: "";
  display: block;
  width: 5px;
  position: absolute;
  left: 0;
  top: 9px;
  bottom: 0px;
  background-color: #18a3dd;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
@media (min-width: 1170px) {
  .inner:before {
    top: 9px;
    bottom: -25px;
  }
}
.title {
  margin: 0;
  padding: 0;
  line-height: 1;
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 50px;
  color: #333740;
  font-weight: 800;
  margin-bottom: 30px;
}
@media (min-width: 1170px) {
  .title {
    font-size: 72px;
  }
}
.subtitle {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: Raleway;
  font-size: 19px;
  color: #333740;
  font-weight: 700;
}
@media (min-width: 1170px) {
  .subtitle {
    font-size: 24px;
  }
}
.description {
  padding-top: 75px;
}
.description__text {
  font-weight: 300;
  font-size: 14px;
  color: #666666;
  padding-bottom: 52px;
}
@media (min-width: 1170px) {
  .description__text {
    font-size: 16px;
    padding-top: 38px;
  }
}
.description__inner {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
@media (min-width: 1170px) {
  .description__inner {
    justify-content: space-between;
  }
}
.description__button {
  background-color: #18a3dd;
  width: 180px;
  height: 50px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  margin-right: 30px;
  border: 0;
  transition: 1.5s;
}
.description__button:hover {
  background-color: #FFF;
  color: #18a3dd;
  border: 1px solid;
}
.description__demonstration {
  padding-right: 50px;
  text-transform: uppercase;
  position: relative;
}
.description__demonstration a {
  color: #333740;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  transition: 1.5s;
}
.description__demonstration a:hover {
  color: orange;
}
.description__demonstration:after {
  height: 18px;
  width: 18px;
  content: "";
  position: absolute;
  display: inline-block;
  background-image: url(../img/icon/icon.png);
  background-repeat: no-repeat;
  left: 100px;
  top: 2px;
}
@media (min-width: 435px) {
  .description__demonstration:after {
    left: 152px;
  }
}
@media (min-width: 1170px) {
  .cover_img {
    position: relative;
  }
}
.cover_img--img {
  padding-top: 50px;
  height: 300px;
}
@media (min-width: 992px) {
  .cover_img--img {
    padding-top: 0px;
    height: 390px;
  }
}
@media (min-width: 1170px) {
  .cover_img--img {
    height: 473px;
    position: absolute;
    left: 100px;
    top: -130px;
  }
}
@media (min-width: 1350px) {
  .cover_img--img {
    height: 535px;
  }
}
.group12__container {
  position: relative;
}
.group12 {
  height: 252px;
  background-image: -moz-linear-gradient(130deg, #0f0816 0%, #181021 64%, #21172b 90%);
  background-image: -webkit-linear-gradient(130deg, #0f0816 0%, #181021 64%, #21172b 90%);
  background-image: -ms-linear-gradient(130deg, #0f0816 0%, #181021 64%, #21172b 90%);
}
@media (min-width: 1170px) {
  .group12 {
    height: 352px;
  }
}
.obertka__group12 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  padding-top: 50px;
}
@media (min-width: 992px) {
  .obertka__group12 {
    padding-left: 308px;
  }
}
@media (min-width: 1170px) {
  .obertka__group12 {
    padding-top: 120px;
  }
}
.img__group12 {
  position: relative;
}
.img__group12--img {
  display: none;
}
@media (min-width: 992px) {
  .img__group12--img {
    display: block;
    height: 400px;
    position: absolute;
    left: -95px;
    top: -100px;
  }
}
@media (min-width: 1170px) {
  .img__group12--img {
    height: 525px;
    left: -120px;
    top: -120px;
  }
}
.group10__number {
  margin-left: 25px;
  color: #fff;
  font-size: 45px;
  font-weight: 900;
  position: relative;
}
@media (min-width: 992px) {
  .group10__number {
    font-size: 65px;
  }
}
@media (min-width: 1170px) {
  .group10__number {
    font-size: 72px;
  }
}
.group10__number:before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  left: -25px;
  top: 25px;
  bottom: 20px;
  background-color: #18a3dd;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.group10__text {
  font-size: 14px;
  font-weight: 300;
  color: #a9a9a9;
}
@media (min-width: 992px) {
  .group10__text {
    font-size: 16px;
  }
}
.blue {
  text-transform: uppercase;
  font-weight: 700;
  color: #18a3dd;
}
.features {
  background-color: #fafcfc;
}
.features__content {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) {
  .features__content {
    margin-left: auto;
    margin-right: auto;
  }
}
.ml-80 {
  margin-left: 0px;
}
@media (min-width: 992px) {
  .ml-80 {
    margin-left: 80px;
  }
}
.mr-80 {
  margin-right: 0px;
}
@media (min-width: 992px) {
  .mr-80 {
    margin-right: 80px;
  }
}
.title__features {
  color: #333740;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
.title__features--right {
  padding-left: 25px;
  position: relative;
  text-align: left;
}
@media (min-width: 992px) {
  .title__features--right {
    padding-left: 0px;
    padding-right: 25px;
    text-align: right;
  }
}
.title__features--right:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 5px;
  top: 1px;
  bottom: -14px;
  background-color: #18a3dd;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
@media (min-width: 992px) {
  .title__features--right:before {
    display: none;
  }
}
@media (min-width: 992px) {
  .title__features--right:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 5px;
    top: 1px;
    bottom: -14px;
    background-color: #18a3dd;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
}
.title__features--left {
  padding-left: 25px;
  margin-top: 20px;
  position: relative;
}
.title__features--left:before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  left: 0px;
  top: 1px;
  bottom: -14px;
  background-color: #18a3dd;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.subtitle__features {
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  padding-top: 20px;
  color: #5b5f64;
}
.subtitle__features--right {
  text-align: left;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .subtitle__features--right {
    text-align: right;
  }
}
.subtitle__features--left {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .subtitle__features--left {
    margin-bottom: 0px;
  }
}
.section__features--img {
  height: 100%;
}
.realman {
  display: none;
}
@media (min-width: 780px) {
  .realman {
    display: block;
    background-color: #fff;
  }
}
.realma__carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.inner-result {
  display: flex;
}
.result {
  padding-left: 30px;
}
.result .weight {
  font-size: 30px;
  font-weight: 700;
  padding-right: 4px;
}
@media (min-width: 992px) {
  .result .weight {
    font-size: 40px;
    padding-right: 30px;
  }
}
.result .result__weight {
  font-weight: 300;
  color: #18a3dd;
}
.result span {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
.participant {
  text-transform: uppercase;
  margin-top: 85px;
  padding-left: 25px;
  position: relative;
  font-family: Raleway;
  font-weight: 700;
  font-size: 16px;
}
.participant span {
  font-weight: 400;
}
.participant:before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  left: 0;
  top: -5px;
  bottom: -5px;
  background-color: #18a3dd;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.testimonials {
  background-image: url(../img/block5/bg_testmonials.png);
}
.text__slider {
  font-family: Lato;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 35px;
  text-align: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  color: #a9a9a9;
}
.author__slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.author__img {
  background-image: url(../img/block5/1.png);
  background-repeat: no-repeat;
  width: 65px;
  height: 73px;
  margin-right: 30px;
}
.author__text {
  font-size: 14px;
  color: #a9a9a9;
  position: relative;
}
.author__text:after {
  content: "";
  position: absolute;
  margin-top: 6px;
  display: block;
  background-color: #18a3dd;
  width: 36px;
  height: 5px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.author__text--bold {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #e5e5e5;
}
.pt-35 {
  padding-top: 35px;
}
.content__inner {
  text-transform: uppercase;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 3px solid black;
}
.name {
  font-size: 24px;
}
.weight {
  font-size: 16px;
  text-align: right;
}
.weight span {
  font-weight: 300;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
}
.li-parent {
  position: relative;
}
.li-parent a {
  text-decoration: none;
  cursor: pointer;
  color: #333740;
}
.li-content {
  padding: 10px;
}
.li-content__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
}
.current {
  padding: 10px;
  border-width: 1px;
  border-color: #d7d7d7;
  border-style: solid;
  background-color: #ffffff;
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.24);
}
.supplement__button {
  text-transform: uppercase;
  font-weight: 700;
  border: 0;
  background-color: #18a3dd;
  width: 280px;
  height: 50px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  color: #fff;
  outline: none;
  transition: 1.5s;
}
.supplement__button span {
  font-weight: 300;
  padding-left: 50px;
}
.supplement__button:hover {
  background-color: #FFF;
  color: #18a3dd;
  border: 1px solid;
}
@media (min-width: 992px) {
  .supplement__button {
    margin-left: 45px;
    width: 457px;
    height: 50px;
  }
  .supplement__button span {
    font-weight: 300;
    padding-left: 150px;
  }
}
.pl-120 {
  padding-left: 0px;
}
@media (min-width: 992px) {
  .pl-120 {
    padding-left: 120px;
  }
}
.content__name {
  margin-top: 50px;
  padding-left: 25px;
  position: relative;
  font-family: Raleway;
  font-weight: 700;
  font-size: 16px;
}
.content__name span {
  font-weight: 400;
  padding-left: 10px;
}
.content__name:before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  left: 0;
  top: -5px;
  bottom: -5px;
  background-color: #18a3dd;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.content__description {
  font-family: Lato;
  font-weight: 300;
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 992px) {
  .content__description {
    padding-bottom: 260px;
  }
}
.content__img {
  padding-top: 50px;
}
@media (min-width: 992px) {
  .content__img {
    padding-top: 0px;
  }
}
.certifications {
  background-color: #f1f4f5;
  padding-bottom: 25px;
}
@media (min-width: 992px) {
  .certifications {
    padding-bottom: 90px;
  }
}
.certifications__content img {
  display: block;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) {
  .certifications__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.buynow {
  padding-top: 50px;
  position: relative;
}
@media (min-width: 992px) {
  .buynow {
    padding-top: 200px;
  }
}
.buynow__img {
  position: static;
}
@media (min-width: 992px) {
  .buynow__img {
    position: absolute;
    left: -215px;
    top: -45px;
  }
}
.calltoaction {
  padding-bottom: 50px;
}
@media (min-width: 992px) {
  .calltoaction {
    padding-bottom: 195px;
  }
}
.calltoaction__title {
  padding-left: 30px;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 700;
  color: #333740;
  text-transform: uppercase;
  margin-bottom: 15px;
  position: relative;
}
.calltoaction__title:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 5px;
  top: 8px;
  bottom: -8px;
  background-color: #18a3dd;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.calltoaction__price {
  font-weight: 300;
  padding-left: 32px;
  margin-bottom: 35px;
  color: #333740;
  font-size: 20px;
}
.calltoaction__text {
  font-weight: 300;
  font-size: 16px;
  color: #666666;
  margin-bottom: 40px;
}
.calltoaction__button {
  border: 0;
  background-color: #18a3dd;
  width: 180px;
  height: 50px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  transition: 1.5s;
}
.calltoaction__button:hover {
  background-color: #FFF;
  color: #18a3dd;
  border: 1px solid;
}
.subscribe {
  background-image: url(../img/block9/bg_subscribe.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 992px) {
  .subscribe {
    padding-bottom: 60px;
  }
}
.subscribe__inner {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 6px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.subscribe__inner label.error {
  color: red;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
@media (min-width: 720px) {
  .subscribe__inner {
    background-color: rgba(0, 0, 0, 0.502);
    width: 350px;
  }
}
@media (min-width: 1120px) {
  .subscribe__inner {
    padding-top: 36px;
    padding-bottom: 36px;
    width: 617px;
  }
  .subscribe__inner label.error {
    color: red;
    position: absolute;
    left: 50px;
    bottom: 0px;
  }
}
.mb-80 {
  margin-bottom: 80px;
}
.subscribe__email {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 10px;
  border: 0;
  width: 200px;
  outline: none;
}
@media (min-width: 720px) {
  .subscribe__email {
    width: 405px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 15px;
  }
}
.subscribe__button {
  text-transform: uppercase;
  outline: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px;
  background-color: #18a3dd;
  color: #fff;
  border: 0;
  transition: 1.5s;
}
.subscribe__button:hover {
  background-color: #FFF;
  color: #18a3dd;
  border: 1px solid;
  padding: 9px;
}
@media (min-width: 720px) {
  .subscribe__button {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 15px;
  }
  .subscribe__button:hover {
    background-color: #FFF;
    color: #18a3dd;
    border: 1px solid;
    padding: 14px;
  }
}
.contact-bg {
  background-color: #FFF;
}
.contact {
  border: 0;
  border-bottom: 1px #ebebeb solid;
  outline: none;
  margin-top: 75px;
}
.contact__name {
  width: 260px;
}
.contact__email {
  width: 260px;
}
.contact__theme {
  width: 260px;
}
@media (min-width: 992px) {
  .contact__theme {
    width: 520px;
  }
}
.contact__text {
  width: 260px;
  border: 0;
  border-bottom: 1px #ebebeb solid;
  outline: none;
  margin-top: 75px;
}
@media (min-width: 992px) {
  .contact__text {
    width: 520px;
  }
}
.contact__button {
  border: 0;
  background-color: #18a3dd;
  width: 225px;
  height: 50px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 52px;
  margin-bottom: 25px;
  outline: none;
  transition: 1.5s;
}
.contact__button:hover {
  background-color: #FFF;
  color: #18a3dd;
  border: 1px solid;
}
@media (min-width: 992px) {
  .contact__button {
    margin-bottom: 120px;
  }
}
label.error {
  display: block;
  color: red;
}
.footer {
  background-color: #f1f4f5;
  padding-bottom: 55px;
  font-weight: 300;
}
.footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 47px;
  font-size: 16px;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .footer__copyright {
    display: block;
  }
}
.footer__nav--ul {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .footer__nav--ul {
    margin: -10px;
    flex-direction: row ;
    justify-content: left;
    align-items: left;
  }
}
.footer__nav--li {
  margin: 10px;
  list-style-type: none;
  font-size: 14px;
}
.footer__nav--li a {
  color: #666666;
  text-decoration: none;
  transition: 1.5s;
}
.footer__nav--li a:hover {
  color: orange;
}
.social {
  padding: 0;
  padding-top: 10px;
  margin: 0;
}
@media (min-width: 992px) {
  .social {
    padding-top: 60px;
  }
}
.footer__nav--li-favicon {
  margin-left: 30px;
}
