.buynow{
	margin-top: 120px;
}
.buynow__img{
	background-image: url(../img/block8.1.png);
	height: 489px;
	width: 744px;
}
.calltoaction{
	margin-left: 250px;
}
.calltoaction__section{
	
}
.calltoaction__title{
	margin-top: 75px;
	padding-left: 25px;
	font-family: Raleway;
	font-size: 30px;
	font-weight: 700;
	color: #333740;
	text-transform: uppercase;
	border-left: 6px rgb(24, 163, 221) solid;
	border-radius: 2px;
	margin-bottom: 15px;
}
.calltoaction__price{
	padding-left: 31px; //25 + 6
	margin-bottom: 35px;
	color: #333740;
	font-size: 20px;
}
.calltoaction__text{
	font-size: 16px;
	color: #666666;
	margin-bottom: 40px;
}

.calltoaction__button{
	border: 0;
	background-color: rgb(24, 163, 221);
	width: 180px;
	height: 50px;
	-webkit-border-radius: 25px;
	      border-radius: 25px;
	color: #fff;
	text-transform: uppercase;
	margin-right: 30px;
	outline: none;
	&:hover{
		background-color: #FFF;
		color: rgb(24, 163, 221);
		border: 1px solid;
	}
}