.buynow{
	padding-top: 50px;
	position: relative;
	@media (min-width: 992px){
		background-image: url(../img/block8/bg-byhow.png);
		background-repeat: no-repeat;
		padding-top: 200px;
	}
	@media (min-width: 1170px){
		background-position: bottom 165px left -300px;
		-webkit-background-size: auto;
	     -o-background-size: auto;
	        background-size: auto;
	}
	@media (min-width: 1300px){
		background-position: bottom 150px left -150px;
		-webkit-background-size: auto;
	     -o-background-size: auto;
	        background-size: auto;
	}
}
.buynow__img{
	position: static;
	@media (min-width: 992px) {
		position: absolute;
		left: -215px; 
		top: -45px;
		// top: -45px;
	}
}
.calltoaction{
	padding-bottom: 50px;
	@media (min-width: 992px) {
		padding-bottom: 195px;
	}
}
.calltoaction__section{}
.calltoaction__title{
	padding-left: 30px;
	font-family: @R;
	font-size: 30px;
	font-weight: 700;
	color: @darkgray;
	text-transform: uppercase;
	margin-bottom: 15px;
	position: relative;
}
.calltoaction__title:before{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	width: 5px;
	top: 8px;
	bottom: -8px;
	background-color: @blue;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}
.calltoaction__price{
	font-weight: 300; //Lato
	padding-left: 32px;
	margin-bottom: 35px;
	color: @darkgray;
	font-size: 20px;
}
.calltoaction__text{
	font-weight: 300; //Lato
	font-size: 16px;
	color: #666666;
	margin-bottom: 40px;
}