.certifications{
	background-color: #f1f4f5;
	padding-bottom: 25px;
	@media (min-width: 992px) {
		padding-bottom: 90px;
	}
}
.certifications__content{
	img{
		display: block;
		padding: 20px;
		margin-left: auto;
		margin-right: auto;
	}
	@media (min-width: 992px) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}