.contact{
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	@media (min-width: 992px) {
		padding-top: 118px;
		padding-bottom: 118px;
	}
}
.contact__form{
	position: relative;
	label.error{
		display: block;
		color: red;
		position: absolute;
		left: 13px;
		bottom: -33px;
	}
}

.contact__form--name{
	border: 0;
	border-bottom: 1px rgb(235, 235, 235) solid;
	outline: none;
	margin-top: 75px;
	width: 246px;
	padding-bottom: 15px;
}
.contact__form--email{
	border: 0;
	border-bottom: 1px rgb(235, 235, 235) solid;
	outline: none;
	margin-top: 75px;
	width: 228px;
	padding-bottom: 15px;
}
.contact__form--theme{
	border: 0;
	border-bottom: 1px rgb(235, 235, 235) solid;
	outline: none;
	margin-top: 75px;
	width: 260px;
	padding-bottom: 15px;
	@media (min-width: 992px) {
		width: 520px;
	}
}
.contact__form--text{
	width: 260px;
	border: 0;
	border-bottom: 1px rgb(235, 235, 235) solid;
	outline: none;
	margin-top: 75px;
	@media (min-width: 992px) {
		width: 520px;
	}
}
.contact__form--button{
	margin-top: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}