.contact-bg{
	background-color: #FFF;
}
.contact{
	border: 0;
	border-bottom: 1px rgb(235, 235, 235) solid;
	outline: none;
	// margin-bottom: 75px;
	margin-top: 75px;
}

.contact__name{
	width: 260px;
}
.contact__email{
	width: 260px;
}
.contact__theme{
	width: 260px;
	@media (min-width: 992px) {
		width: 520px;
	}
}
.contact__text{
	width: 260px;
	border: 0;
	border-bottom: 1px rgb(235, 235, 235) solid;
	outline: none;
	margin-top: 75px;
	@media (min-width: 992px) {
		width: 520px;
	}
}
.contact__button{
	border: 0;
	background-color: rgb(24, 163, 221);
	width: 225px;
	height: 50px;
	-webkit-border-radius: 25px;
	      border-radius: 25px;
	color: #fff;
	text-transform: uppercase;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 52px;
	margin-bottom: 120px;
	outline: none;
	transition: 1.5s;
	&:hover{
		background-color: #FFF;
		color: rgb(24, 163, 221);
		border: 1px solid;
	}
}
label.error{
	display: block;
	color: red;
}