.obertka{
	height: 100px;
	border-radius: 2px;
	border-left: 5px rgb(24, 163, 221) solid;
	padding-left: 35px;
	margin-bottom: 75px;
}
.title{
	margin: 0;
	padding: 0;
	line-height: 0.6;
	text-transform: uppercase;
	font-family: Raleway;
	font-size: 72px;
	color: #333740;
	font-weight: 700;
	margin-bottom: 30px;
}
.subtitle{
	margin: 0;
	padding: 0;
	line-height: 1.8;
	font-family: Raleway;
	font-size: 24px;
	color: #333740;
	font-weight: 700;
}
.description{
	margin-top: 50px;
}
.description__text{
	font-family: Lato;
	font-size: 16px;
	color: #666666;
	margin-bottom: 52px;
}
.description__obertka{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.description__button{
  background-color: rgb(24, 163, 221);
  width: 180px;
  height: 50px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  margin-right: 30px;
  border: 0;
  &:hover{
		background-color: #FFF;
		color: rgb(24, 163, 221);
		border: 1px solid;
	}
}
.description__demonstration{
	padding-right: 50px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
}
.description__demonstration:after{
	height: 18px;
	width: 18px;
	content: "";
	display: inline-block;
	background-image: url(../img/icon1.png);
	background-repeat: no-repeat;
	margin-left: 30px;
}
.cover_img{
	height: 535px;
	padding-top: 25px;
 	padding-bottom: 25px;
	background-image: url(../img/block1.2.png);
	background-repeat: no-repeat;
	margin-bottom: 175px;
}
