.features{
	background-color: #fafcfc;
}
.features__content{
	margin-left: auto;
    margin-right: auto;
    width: 95em;
}
.content1{
	margin-left: 80px;
	@media (max-width: 991px){
		margin-left: 0px;
	}
}
.features__header{
	margin-top: 118px;
	text-align: center;
}
.features__header--title{
	text-transform: uppercase;
	font-size: 30px;
	margin-bottom: 30px;
}
.features__header--title_bold{
	font-weight: 700;
}
.features__header--title_bold:after{
	content: "";
	display: inline-block;
	width: 1px;
	height: 40px;
	margin-left: 18px;
	margin-right: 18px;
	background-color: rgb(24, 163, 221);
}
.features__header--subtitle{
	color: #83888f;
	font-size: 16px;
	text-align: center;
	margin-bottom: 75px;
}

.section__features{
	margin-top: 63px;
}
.title__features{
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 0.6;
}
.title__features--right{
	text-align: right;
	@media (max-width: 991px){
		text-align: left;
	}
}
.title__features--right:after{
	content: "";
	display: inline-block;
	background-color: rgb(24, 163, 221);
	width: 5px;
	border-radius: 2px;
	height: 35px;
	margin-left: 25px;
}
.title__features--left{}
.title__features--left:before{
	content: "";
	display: inline-block;
	background-color: rgb(24, 163, 221);
	width: 5px;
	border-radius: 2px;
	height: 35px;
	margin-right: 25px;
}
.subtitle__features{
	margin-top: 20px;
	color: #5b5f64;
	font-size: 16px;
}
.subtitle__features--right{
	text-align: right;
	@media (max-width: 991px){
		text-align: left;
		margin-bottom: 20px;
	}
}



.section__features--img{
	background-image: url(../img/block3.png);
	background-repeat: no-repeat;
	height: 486px;
	width: 308px;
	margin-left: 20px;
}