.footer{
	background-color: #f1f4f5;
	padding-bottom: 55px;
	font-weight: 300; //Lato
}
.footer__copyright{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 47px;
	font-size: 16px;
	margin-bottom: 20px;
	@media (min-width: 992px) {
		display: block;
	}
}
.footer__nav--ul{
	display: flex;
	margin: 0;
	padding: 0;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	@media (min-width: 992px) {
		margin: -10px;
		flex-direction: row ;
		justify-content: left;
		align-items: left;
	}
}
.footer__nav--li{
	margin: 10px;
	list-style-type: none;
	font-size: 14px;
	a{
		color: #666666;
		text-decoration: none;
		transition: 1.5s;
		&:hover{
			color: orange;
		}
	}
}
.social{
	padding: 0;
	padding-top: 10px;
	margin: 0;
	@media (min-width: 992px) {
		padding-top: 60px;
	}
}
.footer__nav--li-favicon{
	margin-left: 30px;
}