.section{
	height: 120px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px rgb(235, 235, 235) solid;
}
.logo {
	padding-left: 80px;
 	padding-top: 25px;
 	padding-bottom: 25px;
 	background-image: url(../img/logo.png);
 	background-repeat: no-repeat;
 	width: 68px;
 	height: 68px;
 	a{
 		color: #656973;
	 	font-family: 'HelveticaNeueCyr';
		font-size: 15px;
		font-weight: bold;
 		text-decoration: none;
 	}
}
.menu {
 	padding-top: 25px;
 	padding-bottom: 25px;
 	background-image: url(../img/burger.png);
 	background-repeat: no-repeat;
 	width: 35px;
 	height: 29px;
}