.section-header{
	text-align: center;
}
.section-header__title{
	font-family: @R;
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 15px;
	color: @darkgray;
	@media (min-width: 992px) {
		font-size: 30px;
	}
}
.section-header__title--white{
	font-family: @R;
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 30px;
	color: @whiteHead;
	@media (min-width: 992px) {
		font-size: 30px;
	}
}

.section-header__title--special{
	font-size: 25px;
	font-family: @R;
	font-weight: 800;
	padding-right: 20px;
	@media (min-width: 992px) {
		font-size: 30px;
	}
}
.pr-0{
	padding-right: 0px;
}
.section-header__title--special:after{
	content: "";
	position: relative;
	width: 1px;
	height: 5px;
	top: 0px;
	bottom: -5px;
	border-right: 1px solid @blue;
	left: 11px;
}
.section-header__title--special--none:after{
	display: none;
}
.section-header__subtitle{
	font-weight: 300;
	color: @graySubtitle;
	@media (min-width: 992px) {
		font-size: 16px;
	}
}