.section-header{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	@media (min-width: 992px) {
		padding-top: 118px;
		padding-bottom: 80px;
	}
	@media (min-width: 1170px){
	}
}
.section-header__title{
	font-family: Ralyway;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 30px;
	color: #333740;
}
.section-header__title--special{
	font-size: 30px;
	font-family: Ralyway;
	font-weight: 800;
	padding-right: 30px;
	position: relative;
}
.section-header__title--special:after{
	content: "";
	display: block;
	position: absolute;
	// height: 45px;
	width: 1px;
	left: 154px;
	top: -5px;
	bottom: -5px;
	background-color: #18a3dd;
}
.section-header__subtitle{
	font-size: 16px;
	font-family: Lato;
	font-weight: 300;
	color: #83888f;
}