.subscribe{
	background-image: url(../img/bg_subscribe.png);
	background-repeat: no-repeat;
	background-position: center;
	@media (min-width: 720px) {

	}
	@media (min-width: 992px) {
		background-image: url(../img/bg_subscribe.png);
		background-repeat: no-repeat;
		background-position: center;
		-webkit-background-size: contain;
		     -o-background-size: contain;
		        background-size: contain;
		// height: 402px; //временная заглушка
		padding-bottom: 60px;
		
	}
	@media (min-width: 1170px){
	}

}
.subscribe__header{
	// margin-top: 100px;
}
.subscribe__inner {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.502);
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 6px;
	padding-bottom: 16px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	@media (min-width: 720px) {
		// width: 450px;
	}
	@media (min-width: 1120px) {
		padding-top: 36px;
		padding-bottom: 36px;
		width: 617px;
	}
}
.mb-80{
	margin-bottom: 80px;
}
.subscribe__email{
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	padding: 10px;
	border: 0;
	width: 200px;
	@media (min-width: 720px) {
		width: 405px;
		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
		padding: 15px;
	}
}
.subscribe__button{
	text-transform: uppercase;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	padding: 10px;
	background-color: rgb(24, 163, 221);
	color: #fff;
	border: 0;
	&:hover{
		background-color: #FFF;
		color: rgb(24, 163, 221);
		border: 1px solid;
	}
	@media (min-width: 720px) {
		border-top-right-radius: 50px;
		border-bottom-right-radius: 50px;
		padding: 15px;
	}
}