.supplementfacts{
	height: 860px;
}
.supplementfacts__header{
	margin-top: 118px;
	text-align: center;
}
.supplementfacts__header--title{
	text-transform: uppercase;
	color: #333740;
	font-size: 30px;
	margin-bottom: 30px;
}
.supplementfacts__header--title_bold{
	font-weight: 700;
}
.supplementfacts__header--title_bold:after{
	content: "";
	display: inline-block;
	width: 1px;
	height: 40px;
	margin-left: 18px;
	margin-right: 18px;
	background-color: rgb(24, 163, 221);
}
.supplementfacts__header--subtitle{
	color: #83888f;
	font-size: 16px;
	text-align: center;
	margin-bottom: 75px;
}