@orange: #fff7b8; // желтый

@whiteHead: #e5e5e5; //белый для заголовка
@graySubtitle: #83888f; // серый для субтайтла

@white: #fafcfc; // белый
@blue: #18a3dd; // голубой
@gray: #a9a9a9; // серый
@darkgray: #333740; // темно серый

@L: Lato;
@R: Raleway;
@H: HelveticaNeueCyr;

html, body {
	height: 100%;
	min-width: 320px;
	background-color: @white;
}

body {
	font-size: 16px;
	font-family: @L, sans-serif;
}

.block {
	background: @orange;
	padding: 20px;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}


/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens - adaptive styles bofore 1200px */
@media only screen and (max-width : 1200px) {
	
}

/* Medium Devices, Desktops - adaptive styles bofore 992px */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets - adaptive styles bofore 768px */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones - adaptive styles bofore 480px */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina - adaptive styles bofore 320px */
@media only screen and (max-width : 320px) {

}